---
'client:load'
import Layout from '../layouts/Layout.astro';


Astro.cookies.delete('user_id');
Astro.redirect('/login')

---

<Layout>
<h1>
    hi
</h1>

<script>
    localStorage.clear();
    window.location.href = '/login';

</script>
</Layout>