---
Astro.cookies.delete('user_id');
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Logging out...</title>
  </head>
  <body>
    <script>
      localStorage.clear();
      window.location.href = '/login';
    </script>
  </body>
</html>